<h4>Help Forum</h4>
<!--
    post visuals
    aka
    the post
    flag button-> brings up flag reason and flag button
-->
<div class="container" *ngIf="postClicked">
    <app-help-forum-post [post]='post'></app-help-forum-post>
    <button class="btn btn-primary" (click)="FlagPost()">Flag</button>
    <div *ngIf="postFlagged">
        <div class="form-group">
            <textarea id="body" required [(ngModel)]="reasonText" name="reason" placeholder="Reason for flagging post"></textarea>
        </div>
        <button type="submit" class="btn btn-success" (click)="SubmitComplaint()">Submit</button>
    </div>
</div>
<div class="container" *ngIf="!postClicked">
    <div class="row">
        <app-help-forum-search></app-help-forum-search>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-help-forum-feed></app-help-forum-feed>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="clickRequest()">Request Help</button>
            <button class="btn btn-primary" (click)="clickProvide()">Provide Help</button>
            <div class="row">
                <app-help-forum-request-help *ngIf="loadRequest"></app-help-forum-request-help>
                <app-help-forum-provide-help *ngIf="loadProvide"></app-help-forum-provide-help>
            </div>
        </div>
    </div>
</div>
