<h4>Help Forum</h4>
<div class="container">
    <div class="row">
        <app-help-forum-search></app-help-forum-search>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-help-forum-feed></app-help-forum-feed>
        </div>
        <div class="col-md-6">
            <button type="button">Request Help</button>
            <button type="button">Provide Help</button>
            <div class="row">
                <!-- filter or post component-->
            </div>
        </div>
    </div>
</div>
