<h5 *ngIf="!postClicked">Request help or filter through requests to provide help</h5>

<!--
    Individual post
-->
<button class="btn btn-primary" (click)="backToFeed()" *ngIf="postClicked">Back</button>
<div class="container" *ngIf="postClicked">
    <div class="row">
        <div class="col-md-9">
                <app-help-forum-post [post]='post'></app-help-forum-post>
        </div>
        <div class="col">
            <button class="btn btn-danger" (click)="flagPost()">Flag</button>
            <div *ngIf="postFlagged">
                <br>
                <div class="form-group">
                    <textarea id="body" required [(ngModel)]="reasonText" name="reason" placeholder="Reason for flagging post"></textarea>
                </div>
                <button type="submit" class="btn btn-success" (click)="submitComplaint()">Submit</button>
            </div>
        </div>
    </div>
    <div class="comment-text">
        <textarea id="commentText" rows=4 cols=100 required [(ngModel)]="commentText" name="comment" placeholder="Enter comment"></textarea>
    </div>
    <button type="submit" class="btn btn-success" (click)="comment()">Comment</button>
    <div *ngIf="areComments">
        <br>
        <div *ngFor="let comment of comments">
            <mat-card class="col-md-9">
                <mat-card-subtitle></mat-card-subtitle> {{comment.username}}
                <mat-card-content></mat-card-content> {{comment.body}}
            </mat-card>
            <br>
        </div>
    </div>
</div>

<!--
    Feed and request/provide help
-->

<div class="container" *ngIf="!postClicked">
    <div class="row-md-12">
        <app-help-forum-search></app-help-forum-search>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <app-help-forum-feed></app-help-forum-feed>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="clickRequest()">Request Help</button>
            <button class="btn btn-primary" (click)="clickProvide()">Provide Help</button>
            <div class="row">
                <app-help-forum-request-help class="request-comp" *ngIf="loadRequest"></app-help-forum-request-help>
                <app-help-forum-provide-help *ngIf="loadProvide"></app-help-forum-provide-help>
            </div>
        </div>
    </div>
</div>
