<body>
<div class="col-md-8 order-md-1">
  <h4 class="mb-3">Sign Up</h4>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               [(ngModel)] = "user.firstName"
               name="firstName"
               required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="lastName"
               [(ngModel)] = "user.lastName"
               name = "lastName"
               required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             placeholder="you@example.com"
             [(ngModel)] = "user.email"
             name="email"
             required
             email>
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class = "mb-3">
      <label for="password">Password</label>
      <input type="password"
             id="password"
             class="form-control"
             placeholder="Password"
             [(ngModel)] = "user.password"
             name = "password"
             required
             minlength="8">
    </div>

    <div class="mb-3">
      <label for="address">Address <span class="text-muted">(Optional)</span></label>
      <input type="text"
             class="form-control"
             id="address"
             placeholder="Street Address"
             [(ngModel)] = "user.address"
             name="address"
             address>
    </div>

    <div class="mb-3">
      <label for="city">City</label>
      <input type="text"
             class="form-control"
             id="city"
             placeholder="City"
             [(ngModel)] = "user.city"
             name="city">
    </div>

    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="country">Country</label>
        <select class="custom-select d-block w-100"
                id="country"
                [(ngModel)] = "user.country"
                name="country">
          <option value="">Choose...</option>
          <option>United States</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="state">State</label>
        <select class="custom-select d-block w-100"
                id="state"
                [(ngModel)] = "user.state"
                name="state">
          <option value="">Choose...</option>
          <option>Alabama</option>
          <option>Alaska</option>
          <option>American Samoa</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>District of Columbia</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Guam</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Louisiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Massachusetts</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>Montana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Northern Mariana Islands</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Puerto Rico</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>U.S. Virgin Islands</option>
          <option>Utah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zip</label>
        <input type="text"
               class="form-control"
               id="zip"
               [(ngModel)] = "user.zip"
               name="zip">
        <div class="invalid-feedback">
          Zip code required.
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block"
            type="submit"
            [disabled]="!f.valid">Create Account</button>
  </form>
</div>
</body>

