<body>
<div *ngIf="entry">
  <div class="card text-center">
    <div class="card-header">
      <h5>{{entry.entrytype}}</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title"> {{entry.name}}</h6>
      <img src="{{entry.picture}}" alt="No image available" height="300" width="300">
      <br>
      <label><u>Age:</u>&nbsp;</label> {{entry.age}}
      <br>
      <label><u>Gender:</u>&nbsp;</label> {{entry.gender}}
      <br>
      <label><u>Height:</u>&nbsp;</label> {{entry.height}}
      <label>&nbsp;&nbsp;&nbsp;<u>Weight</u>:&nbsp;</label> {{entry.weight}}
      <br>
      <label><u>Hair Color:</u>&nbsp;</label> {{entry.haircolor}}
      <label>&nbsp;&nbsp;&nbsp;<u>Eye Color:</u>&nbsp;</label> {{entry.eyecolor}}
      <br>
      <label><u>Location(City,State):</u>&nbsp;</label> {{entry.location}}
      <br>
      <label><u>Contact Info:</u>&nbsp;</label> {{entry.contact}}
    </div>
  </div>
  
</div>
</body>
