<div *ngIf="entry">
  <div class ="form-inline">
    <label>Entry Type: </label> {{entry.entrytype}}
  </div>
  <div class="form-inline">
    <label>Name: </label> {{entry.name}}
    <label>Age: </label> {{entry.age}}
  </div>
  <br>
  <div class="form-inline">
    <label>Gender: </label> {{entry.gender}}
  </div>
  <br>
  <div class="form-inline">
    <label>Height: </label> {{entry.height}}
    <label>Weight: </label> {{entry.weight}}
  </div>
  <br>
  <div class="form-inline">
    <label>Hair Color: </label> {{entry.haircolor}}
    <label>Eye Color: </label> {{entry.eyecolor}}
  </div>
  <br>
  <div class="form-group">
    <label>Location(City,State)</label> {{entry.location}}
  </div>
  <div class="form-group">
    <label>Contact: </label> {{entry.contact}}
  </div>
</div>
